body{
    padding: 0;
    margin: 0;
}
.site-header{
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
}
.site-header{
    background-color: rgba(0, 0, 0, .85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
}
.site-header  nav{
    position: sticky;
    display: flex;
}
.site-header  nav h1{
    margin-left: 5%;
    color: #e5e5e5;
}
.site-header .container{
    margin-left: 45%;
    display: flex  ;
    list-style: none;
   
}
.site-header .container li{ 
   padding: 15px 10px;
}
.site-header .container li:hover{
    border: 1px solid #5d6d7e;
    border-radius: 5px;
}
.site-header .container a{
    
    color: #e5e5e5;
    text-decoration: none;
    font-size: 18px;
    transition: color .15s ease-in-out;
}

.site-header .container a:hover{
    color: #5d6d7e;
    text-decoration: none;
    font-size: 18px;
    transition: color .15s ease-in-out;
}
.cart-list h2 {
   text-align: center;
}
.cart-list .cart1
{
    padding: 2%;
    background-color: #e5e5e5;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    
}
.cart-list .cart1 .top{
    margin-left:   2% ;
    box-shadow: 3px 3px 1px #213243;
    
}
.cart-list .cart1 .middle {
    display: flex;
}

.cart-list .cart1 .middle img{
    width: 100px;
    height: 65px;
    margin-top: 1%;
    margin-left: 3%;
}
.cart-list .cart1 .middle ul{
    margin-top: 3%;
   
}
.cart-list .cart1 .middle ul li{
    list-style: none;
   
}
.cart-list .cart1 .middle .second{
    margin-left: 10% ;
   
}
.cart-list .cart1 .bot{
   display: flex;
   margin-top: 5%;
    margin-left: 65%;
   border-top: 1px solid #5d6d7e;
}
.cart-list .cart1 .bot ul{
    display: flex;
    list-style: none;
    
 }
.cart-list .cart1 .bot .third li caption{
    font-style: italic;
    font-size: 30px;
 }
.cart-list .cart1 .bot .fourth li button{
    padding: 10px 20px;
    background: #5d6d7e;
    color: #e5e5e5;
    border: none;
    border-radius: 15px;
 }
 .footer {
    
    height: 150px;
    width: 1519px;
    background-color: rgba(0, 0, 0, .85);
    border-bottom: 5px solid #5d6d7e;
}


.footer .helpcenter table{
   margin-left: 5%;

    width: 700px;
   
    margin-top: 2%;
}
.footer .helpcenter table tr{
    text-align: center;
    width: 500px;
}
.footer .helpcenter table tr th{
    color: #e5e5e5;
}
.footer .helpcenter table tr td a{
    color: #e5e5e5;
    text-decoration: none;
}
.footer .helpcenter table tr td a:hover{
    color: #706e6e;
    text-decoration: none;
}
.footer_content{
    display: flex;
   
}
.footer .footer_content .sosmed{
    margin-top: 1%;
    margin-left: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e5e5e5;
   
}
.sosmed ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-top: 4%;
}
.sosmed ul li a{
    margin-left: 5%;
    text-decoration: none;
    color: #e5e5e5;
}
.sosmed ul li a:hover{
    margin-left: 5%;
    text-decoration: none;
    color: #5d6d7e;
}
.sosmed ul li img {
    width: 25px;
    height: 25px;
}
.copywrite{
    background-color: #e5e5e5;
    height: 90px;
    margin-top: 0;
}
.copywrite .capt{
   opacity: 0;
    margin-left: 5%;
}
.copywrite ul li {
    color: #606264;
    list-style: none;
}





